<div class="row">
    <div class="col-12 text-center">
        <h1>Edit Palette</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <%= render 'form' %>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 text-center">
        <%= form_tag palette_path(@palette), method: "delete" do %>
            <%= submit_tag "Delete Palette", class: "btn btn-outline-danger", data: { confirm: "Are you sure?" } %>
        <% end %>
    </div>
</div>