<div class="row">
    <div class="col-12 text-center">
        <h1>Create Palette</h1>
    </div>
</div>
<%= render "shared/errors" %>
<div class="row">
    <div class="col-12">
        <%= render 'form' %>
    </div>
</div>