<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="#">The Color Locker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="<% projects_path %>">All Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<% new_project_path %>">New Project</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 align-right">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
    </form>
    </div>
</nav>