<div class="row">
    <div class="col-12 text-center">
        <h1>Edit Project</h1>
    </div>
</div>
<% if flash[:errors].present? %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>
<br>
<div class="row">
    <div class="col-12">
        <%= render 'form'%>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 text-center">
        <%= form_tag project_path(@project), method: "delete" do %>
            <%= submit_tag "Delete Project", class: "btn btn-outline-danger", data: { confirm: "Are you sure?" } %>
        <% end %>
    </div>
</div>