<div class="row">
    <div class="col-12 text-center">
        <h1>Create Project</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <%= form_for @project do |f| %>
            <%= f.text_field :title, placeholder: "Project Title", class: "form-control" %>
            <br>
            <%= f.text_area :description, placeholder: "Project Description", class: "form-control" %>
            <br>
            <div class="text-center">
                <%= f.submit class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>