<div class="row">
    <div class="col-12 text-center">
        <h1>Create Project</h1>
    </div>
</div>
<br>
<% if flash[:errors].present? %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>
<div class="row">
    <div class="col-12">
        <%= render 'form'%>
    </div>
</div>