<h1 class="text-center"><%= @project.title %></h1>
<p><%= @project.description %></p>
<p>Created on: <%= @project.created_at_formatted %></p>

<div class="row">
    <div class="col-12">
        <%= link_to "Edit", edit_project_path(@project) %>
    </div>
</div>