<div class="row">
    <div class="col-12 text-center">
        <h1>Edit the color for <%= @color.palette.name %></h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <%= form_for @color, url: { action: "update" } do |f| %>
            <div class="text-center">
                <%= f.color_field :hexidecimal, name: "color[hexidecimal]" %>
            </div>
            <br>
            <div class="text-center">
                <%= f.submit class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>